h1{
    font-size: 40px; color: rgb(0, 255, 0); background-color: rgb(255, 2, 2);
}
h2{
    font-size: 30px; color: rgb(94, 100, 0); background-color: rgb(63, 2, 92);
}
p{
    font-size: 50px; color: rgb(53, 134, 148); background-color: rgb(247, 8, 195);
}
.img01{
    width: 25px;
    height: 60px;
}
.img02{
    width: 35px;
    height: 40px;
}