h1{
    border: 1px solid red;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 10px;
}
p{
    border: solid green;
    margin-left: 25px;
    margin-top: 35px;
    padding-top: 10px;
    padding-left: 15px;
}
.img01{
    width: 350px;
}
.img02{
    width: 150px;
    height: 50px;
}
.img03{
    width: 50px;
    height: 150px;
}